@page
@model labb1._1.Pages.aboutModel
@{
	ViewData["Title"] = "Om sidan";
}

<h2>Lite info om mig</h2>

<p>En blivande utvecklare som tycker om ASP.NET Core</p>
<p>ASP.NET Core är väldigt kraftfullt ramverk som hjälper till att utveckla i princip vad som helst enkelt och smidigt. <br />
	Ramverket är anpassat för enterprise software dvs att man kan utveckla applikationer med det som servar ett väldigt stort antal användare. 
</p>

<p>Jag ser fram emot att lära mig mer och mer om .NET generellet och särskilt ASP.NET Core</p>