@page
@model IndexModel
@{
    ViewData["Title"] = "Start";
}

<div>
    <h2>Laboration 1.1</h2>
    <p>Denna webbplats är utvecklad med Razor Pages och den ingår i första laboration i kursen Webbutveckling med .NET</p>
    <p>Webbplatsen består av 3 undersidor där sidan med namnet Razor fokuserar på Razor syntax</p>
</div>
